$tablet: 768px;
$tablet-big: 1024px;
$laptop: 1280px;
$desktop: 1448px;
$fullhd: 1900px;

//z-index
$ui-index-1: 1; // для элементов наползающих друг на друга
$ui-index-2: 2; // для элементов наползающих друг на друга
$ui-index-3: 3; // для элементов наползающих друг на друга
$ui-index-4: 4; // затемнения
$ui-index-5: 5; // сайдбары
$ui-index-6: 6; // модальные окна
$ui-index-10: 10; // элементы перекрывающие все